<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header Bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


{% block title %}MAKE A NEW TASK VIEW{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            {{ form }}
            <div class="form-group">
              <label for="id_userid">UserID</label>
              <select name="userid" id="userid" class="form-control">
                {% for uid in idusers %}
                  <option value="{{ uid.id }}">{{ uid.username }}</option>
                {% endfor %}
              </select>
           </div>
            <button type="submit" class="btn btn-primary form-control">Create Task</button>
            <a href="{% url 'Client:index' %}" class="btn btn-outline-warning form-control">Cancel</a>
    </form>
{% endblock content %}