<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header Bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    {% block title %}DETAIL VIEW{% endblock title %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Task Detail</h1>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ detailone.title }}</h5>
                        <p class="card-text"><strong>ID:</strong> {{ detailone.id }}</p>
                        <p class="card-text"><strong>UserID:</strong> 
                        {% for u in userss %} 
                            {% if u.id == detailone.userid %}
                                {{ u.username }}
                            {% endif %}
                        {% endfor %}
                        </p>
                        <p class="card-text"><strong>Status:</strong> {{ detailone.status }}</p>
                        <p class="card-text"><strong>Description:</strong> {{ detailone.description }}</p>
                        <p class="card-text"><strong>Due Date:</strong> {{ detailone.due_date }}</p>
                        <p class="card-text"><strong>Priority:</strong> {{ detailone.priority }}</p>
                        <p class="card-text"><strong>Created:</strong> {{ detailone.created_at }}</p>
                        <p class="card-text"><strong>Completed:</strong> {{ detailone.completed_at }}</p>
                        <a href="/update/{{ detailone.id }}" class="btn btn-outline-warning">Update</a>
                        <a href="/delete/{{ detailone.id }}" class="btn btn-outline-danger">Delete</a>
                        <a href="{% url 'Client:index' %}" class="btn btn-outline-success">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
