<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header Bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    {% block content %}
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="username" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="text" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <small>Don't have an account? <a href="/register">Register</a></small>
                </div>
            </div>
        </div>
    </div>
    

    {% if request.session.username %}
    <div class="container text-end mt-3">
        <a href="{% url 'Client:logout' %}" class="btn btn-danger">Logout</a>
    </div>
    {% endif %}

    <div class="container text-center">
        <h1 class="mt-3 mb-3">TASK "TO DO"</h1>
        <div style="overflow-y: scroll; height: 600px;">
            <div class="container mt-3">
                <div class="row mb-3">
                    <div class="col text-start">
                        <a href="/create" class="btn btn-primary">Create</a>
                    </div>
                    <div class="col text-end">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Filter
                            </button>
                            <ul class="dropdown-menu">
                                <li><hr class="dropdown-divider">General</li>
                                <li><a class="dropdown-item" href="/id_title">ID and Title</a></li>
                                <li><a class="dropdown-item" href="/id_userid">ID and UserID</a></li>
                                <li><hr class="dropdown-divider">Completed</li>
                                <li><a class="dropdown-item" href="/solved/id_title">ID and Title</a></li>
                                <li><a class="dropdown-item" href="/solved/id_userid">ID and UserID</a></li>
                                <li><hr class="dropdown-divider">Pending</li>
                                <li><a class="dropdown-item" href="/unsolved/id_title">ID and Title</a></li>
                                <li><a class="dropdown-item" href="/unsolved/id_userid">ID and UserID</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th colspan="4">ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div class="container text-center">
                            {% for i in ids %}
                                {% if forloop.counter0|divisibleby:4 %}
                                <tr>
                                {% endif %}
                                <td class="col-3">
                                    <a href="http://127.0.0.1:1234/detail/{{ i.id }}">
                                        <div class="col 
                                            {% if i.status == 'pending' %} bg-danger
                                            {% elif i.status == 'completed' %} bg-success 
                                            {% else %} bg-warning
                                            {% endif %} 
                                            text-white m-1 p-3">
                                            {{ i.id }}
                                        </div>
                                    </a>
                                </td>
                                {% if forloop.counter|divisibleby:4 or forloop.last %}
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var loginModal = new bootstrap.Modal(document.getElementById('loginModal'));
            {% if show_login_modal %}
                loginModal.show();
            {% endif %}
        });
    </script>

    {% endblock content %}
</body>
</html>
