<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order By ID and UserID</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <div class="container mt-3 text-center">
        <h1>Order By ID and UserID</h1>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>UserID</th>
                </tr>
            </thead>
            <tbody>
                {% for i in idsanduserid %}
                <tr onclick="window.location.href='http://127.0.0.1:1234/detail/{{ i.id }}'" style="cursor: pointer;">
                    <td class="{% if i.status == 'pending' %} bg-danger {% elif i.status == 'completed' %} bg-success {% else %} bg-warning {% endif %} text-white m-1 p-3">{{ i.id }}</td>
                    <td class="{% if i.status == 'pending' %} bg-danger {% elif i.status == 'completed' %} bg-success {% else %} bg-warning {% endif %} text-white m-1 p-3">{{ i.userid }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'Client:index' %}" class="btn btn-outline-warning" >Back</a>
    </div>
</body>
</html>
