<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header Bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% block title %}UPDATE TASK VIEW{% endblock title %}
{% block content %}
<div class="container mt-4">
    <h2>Update ToDo -> {{ detail.id}}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ detail.title }}" required>
        </div>
        <div class="form-group">
            <label for="userid">User</label>
            <select class="form-select form-control" id="userid" name="userid" required>
                {% for user in idusers %}
                    <option value="{{ user.id }}" {% if user.id == detail.userid %}selected{% endif %}>{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-select form-control" id="status" name="status" required>
                <option value="pending" {% if detail.status == "pending" %}selected{% endif %}>Pending</option>
                <option value="completed" {% if detail.status == "completed" %}selected{% endif %}>Completed</option>
                <option value="in_progress" {% if detail.status == "in_progress" %}selected{% endif %}>In Progress</option>
            </select>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="4" required>{{ detail.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="due_date">Due Date</label>
            <input type="datetime-local" class="form-control" id="due_date" name="due_date" value='{{ detail.due_date }}'>
        </div>
        <div class="form-group">
            <label for="priority">Priority</label>
            <select class="form-select form-control" id="priority" name="priority" required>
                <option value="low" {% if detail.priority == "low" %}selected{% endif %}>Low</option>
                <option value="medium" {% if detail.priority == "medium" %}selected{% endif %}>Medium</option>
                <option value="high" {% if detail.priority == "high" %}selected{% endif %}>High</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock content %}
</body>
</html>
